@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F3F0;
  /* Soft warm greige */
  --foreground: #2C2C2A;
  /* Deep charcoal */
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}